<div id = "posts-container">
  <button class = "button"><%=link_to "add a new post", new_user_post_path(@user.id), :class => "addnewbutton"%></button>
  <% @posts.each do |post| %>
    <p> hallo </p>
  <% end %>
</div>